
*{

   box-sizing:border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-transform: capitalize;
   transition: .2s linear;
   text-decoration: none;

}
section{
    padding: 2rem 0%;
}
header{
    z-index: 9;
    position: fixed;
    top:0; left:0; right: 0;
    background-color: #fff;
    padding: 40px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
header .logo{
    font-size: 30px;
    color: #333;
    font-weight: bolder;
}

header .navbar a{
font-size: 20px;
padding: 0 1.5rem;
color: #666;
}
header .navbar a:hover{
    color:pink;
  border-bottom:2px solid palevioletred;
   
}
header .icons a{
font-size: 25px;color: #333;
margin-left: 30px;
}
header .icons a:hover{
    color:palevioletred;
}
.home{
    display: flex;
    align-items: center;
    background: url(https://i.pinimg.com/736x/ea/b0/ab/eab0ab7172497349de76ed9423dbf6c0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.home .content{
    padding-left: 50px;
}
.home .content h3{
    font-size: 4rem;
    color: #333;
    margin-bottom: 10px;
    
}
.home .content span{
    font-size: 2.5rem;
    color:palevioletred;
    margin-top: 10px;
}
.home .content p{
    color: #999;
    padding: 10px 0;
}
.home .content button{
    border-radius: 20px;
    padding: 10px 50px;
    background-color: palevioletred;
    color: wheat;
   border-color: transparent;
   font-size: 15px;
}
.heading{
    text-align: center;
    font-size: 20px;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background-color: ;
}
.heading span{
    color: palevioletred;
    font-size: 30px;
}
.heading {
    font-size: 2rem;
    background-color:rgb(249, 218, 223);
    padding: 40px
}
.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .row .video-container{
    flex:1 1 40rem;
    position: relative; 
}
.about .row .video-container video{
    width: 100%;
    border: 1.5rem solid #ffff;
    border-radius: 5rem;
    box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .1);
   height: 500px;
    object-fit: cover;
}
.about .row .content{
    flex:1 1 40rem;
}
.about .row .video-container h3{
    position: absolute;
    top:50%;transform:translateY(-50%);
    font-size:40px;
    color:#333 ;
    background:#fff;
    width: 100%;
    padding:1 rem 2rem;
    text-align: center
}
.content h3{
    font-size: 30px;
}
.content p{
    color:#999;
    padding-right: 80px;
    
}

.content button{
    background-color: palevioletred;
    padding: 10px 30px;
    color: white;
    border-color: transparent;
    border-radius: 15px;
}
.profit{
    display: flex;
    justify-content: space-around;
}
.profit div{
    border: 1px solid;
    padding: 10px 100px;
    background-color: rgb(252, 215, 221);
    
}
.flowerList{
    
    width: 500px;
    height: 400px;
    
    border:1px solid #cf0a0a;
}
.flowerList img{
    width: 400px;
    height: 400px;
    padding-top: 1px;
}

.flowerList h3{
    font-size: 25px;
}
.flowerList p{
    color: red;
}
.flowerList .info{
    margin-left: 150px;
}
.flowerList span{
    text-decoration: line-through;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
    margin-top: 60px;
}
.flowerList img:hover{
    transition: 5s;
    
}
.customerReview{
    display: flex;
    justify-content: space-between;
   margin-top: 300px;
    width: 100%;
    height: 280px;
    
   
    
}
.review img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}
.review{
    margin-left: 50px;
    background-color: pink;
    padding:10px 20px;
}
.contact h1{
    color: palevioletred;
    margin-left: 100px;
}

.contact input, textarea,button{
    margin-left: 30px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-right: 160px;
    margin-top: 20px;
}
.contact button{
    font-size: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right:150px;
    border-radius: 15px;
    background-color: palevioletred;
    border-color: transparent;
}
.contact{
    position: relative;
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://i.pinimg.com/1200x/7b/93/05/7b930578933a41090d5eca0ae7f16127.jpg);
}
.contact .map{
    position: absolute;
    margin-left: 600px;
    margin-top: 1px;
    
}