a{
    padding-left: 300px;
   text-decoration: none;
   color: rgb(98, 3, 3);
   font-size: 20px;
}
.main{
    width: 100%;
    height: 600px;
    background-image: url(https://media.datahc.com/HI609174536.jpg);
   background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    text-align: center;
    

}
h1{
    padding-top: 200px;
    font-size: 40px;
    text-shadow: 5px 5px 10px  rgb(245, 240, 240);
}
p{
    font-size: 25px;
}
button{
    background-color: rgb(238, 180, 103);
    color: white;
    padding: 10px 40px;
    border-color: transparent;
    font-size: 20px;
}
nav{
   display: inline-block;
   padding-left: 250px;
}
h2{
    border-bottom: 2px solid rgb(125, 46, 46);
}
table{
    border-collapse: collapse;
    width: 70%;
    height: 20%;
    margin-left: 200px;
    margin-top: 1px;
    
}
th, td{
    text-align: left;
    padding-left:  20px;
    padding-top: 20px;
  font-size: 20px;
    border:1px solid rgb(112, 33, 4);
}
th{
    background-color:rgb(234, 206, 169);
}
.table img{
    width: 100%;
    height: 300px;
    margin-top: 40px;
    
}
.about h1{
    padding-top:0px;
}
.about img{
    width: 100%;
    height: 200px;
    float: right;
}
.about{
    display: inline-block;
}